@{
ViewData["Title"] = "Home Page";
}

<div>

    <hi>Welcome ...</hi>

    <h2>Please Provide your name</h2>

    <form action="process" method="post">

        <input name="InputtedName" type="text" />

        <input type="submit" />
    </form>

</div>
