@{
ViewData["Title"] = "Home Page";
}

<head>
    <!-- In this context '~' refers to the wwwroot folder  -->
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<div>

    <div class="container">
        <div class="row border-bottom border-dark mt-2">
            <div class="col-8">
                <h3>Welcome @Context.Session.GetString("Name")! Lets Play!</h3>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <p><a href="/logout">Log out</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h1>@Context.Session.GetInt32("Number")</h1>

            </div>
            <div class="col-12 d-flex align-items-row justify-content-center">
                <div class="box1 d-flex align-items-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <form action="processGame" method="post">

                            <input name="Selection" type="hidden" value="addOne" />

                            <input class="btn-warning" type="submit" value="+ 1" />
                        </form>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="box2 d-flex align-items-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <form action="processGame" method="post">

                            <input name="Selection" type="hidden" value="subtractOne" />

                            <input class="btn-primary" type="submit" value="- 1" />
                        </form>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="col-12 d-flex align-items-row justify-content-center">
                <div class="box3 d-flex align-items-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <form action="processGame" method="post">

                            <input name="Selection" type="hidden" value="multiplyTwo" />

                            <input class="btn-danger" type="submit" value="x 2" />
                        </form>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="box4 d-flex align-items-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <form action="processGame" method="post">

                            <input name="Selection" type="hidden" value="random" />

                            <input class="btn-success" type="submit" value="Random" />
                        </form>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
        </div>

</div>
